html,
body{
	height: 100%
}

body{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 40px;
	background-color: #ffffff;
}

.from-db{
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
}

.from-db.checkbox{
	font-weight: 400;
}

.from-db.form-control{
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 2px;
	font-size: 16px;
}

.from-db.form-control:focus{
	z-index:2;
}

.from-db input{
	margin-bottom: 0px;
}


	 