<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>DB Connection</title>
	<meta name="viewport" content="width=device-width">
	<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.7-1/bootstrap.min.js"></script>
	<link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.css">
	<link th:href="@{connection.css}" rel="stylesheet" type="text/css">
</head>
<body class="text-center">
<form class="from-db" th:action="@{/connect}" th:object="${conn}" method="post">
 <img class="mb-4" src="/images/3.jpg" alt="" width="72" height="72">
 <h1 class="h3 mb-3 font-weight-noraml" >DB CONNECTION</h1>
 <input type="text" class="form-control" placeholder="Username" required autofocus th:field="*{userName}">
 <input type="password" class="form-control" placeholder="Password" required  th:field="*{password}">
 <input type="text" class="form-control" placeholder="Hostname" required  th:field="*{hostname}">
 <input type="text" class="form-control" placeholder="Port" required  th:field="*{port}">
 <div class="input-group">
 	<span class="input-group-addon">
 		<input type="radio" name="options" value="optionSID" checked>
 	</span>
 	<input type="text" class="form-control" placeholder="SID" id="optionSID"  th:field="*{sid}">
 </div>
 <div class="input-group">
 	<span class="input-group-addon">
 		<input type="radio" name="options" value="optionService" checked>
 	</span>
 	<input type="text" class="form-control" placeholder="Service Name" id="optionService"  th:field="*{serviceName}">
 </div>
 <div class="checkbox mb-3">
 	<label>
 		<input type="checkbox" value="remember-me"> Remember me
 	</label>
 </div>

 <button class="btn btn-lg btn-primary btn-block" type="submit">Analysis</button>
</form>
<script th:inline="javascript">
	$(function(){
		$(":radio").click(function(){
			var choose = $(this).val();
			if(choose == 'optionSID'){
				$('#optionSID').attr("disable",false);
				$('#optionService').attr("disable",true);
				$('#optionService').val("");
			}else{
				$('#optionSID').attr("disable",true);
				$('#optionService').attr("disable",false);
				$('#optionSID').val("");
			}
		});
	})
</script>
</body>

</html>